header {
    font-size: 4em;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

#section form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 35%;
    margin: 7.5% auto 0 auto;
    margin-top: 7.5%;
}

#section form label {
    font-size: 1.25em;
    color: #A2A2A2;
    padding-left: 4px;
    margin-bottom: 4px;
}

#section form input {
    font-size: 1.35em;
    color: #282828;
    padding: 6px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    border-radius: 5px 0 0 5px;
    margin-bottom: 7.5%;
}

#section form div{
    display: flex;
    flex-direction: row;
}

#section form div #input-senha {
    margin-bottom: 0;    
    flex: 1;
}

#section form div span {
    cursor: pointer;
    padding: 6px;
    font-size: 1.35em;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    vertical-align: text-bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section form button {
    font-size: 1.25em;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    color: #ffffff;
    outline: none;
    user-select: none;
    padding: 10px;
    background-color: #A2A2A2;
    border-radius: 5px;
    border: 0;
    box-shadow: -2px 2px 0px rgba(40, 40, 40, 0.25);
    transition: transform .2s;
    margin-top: 10%;
    cursor: pointer;
}

#section form button:hover {
    transform: scale(1.02)
}

#section form button:disabled {
    opacity: 0.55;
    cursor: not-allowed;
}

#section form button:disabled:hover {
    transform: scale(1)
}

#section h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}

#section h2 span {
    font-weight: 700;
    display: block;
}

#section h2 span:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#section footer {
    margin-top: 65px;
    margin-bottom: 30px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}

#section footer span:hover {
    transform: scale(1.01);
    cursor: pointer;
}