.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.cards {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card img {
  width: 100%;
}

.card-title {
  font-size: 20px;
}